data_processing/datasets/
__pycache__/
*.npy
*.npz
*.pth
*.pt
data/
dataloading/*.png
coco128

#Linter
.ruff_cache/

/.cache
.env
docker/.env
*.tar
docker/build/
/results
/datasets

# data_cropping/sam
data_cropping/sam/*_result_det_*/
data_cropping/sam/*_result_det/
*.ts