absl-py>=2.3.1
astunparse>=1.6.3
attrs>=25.4.0
dm-tree>=0.1.9
gast>=0.6.0
makefun>=1.16.0
numpy>=2.3.5
nvidia-dali-cuda120>=1.52.0
nvidia-nvcomp-cu12>=5.0.0.6
nvidia-nvimgcodec-cu12>=0.6.1.37
nvidia-nvjpeg-cu12>=12.4.0.76
nvidia-nvjpeg2k-cu12>=0.9.1.47
nvidia-nvtiff-cu12>=0.6.0.78
nvtx>=0.2.14
packaging>=25.0
six>=1.17.0
wheel>=0.45.1
wrapt>=2.0.1
